.header-wrapper {
  button {
    color: white;
    margin-left: 2rem;
  }

  a{
      color: white;
      font-weight: 700;
  }
}

@media only screen and (max-device-width: 480px) {
  .header-wrapper {
    button {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}
